<h2>Edit Artist</h2>

<form action='/whiskeys/<%= "#{@whiskeys.id}" %>' method="post">
  <label for="whiskey[name]">Name:</label>
  <input name="whiskey[name]" value='<%= "#{@whiskeys.name}" %>'>

  <label for="whiskey[photo_url]">Photo URL:</label>
  <input name="whiskey[photo_url]" value='<%= "#{@whiskeys.photo_url}" %>'>

  <label for="whiskey[flavour]">Flavour:</label>
  <input name="whiskey[flavour]" value='<%= "#{@whiskeys.flavour}" %>'>

  <label for="whiskey[thoughts]">Thoughts:</label>
  <input name="whiskey[thoughts]" value='<%= "#{@whiskeys.thoughts}" %>'>

  <input type="submit" value="Create">
</form>
